{% sw_extends '@Storeffront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_product_buy_button %}
    <div class="d-grid">
        <button class="btn btn-buy"
            data-feedbacktext="{{ "detail.addProductFeedback"|trans|sw_sanitize }}"
            title="{{ "listing.boxAddProduct"|trans|striptags }}">
            {{ "listing.boxAddProduct"|trans|sw_sanitize }}
        </button>
    </div>
{% endblock %}